.game-start-page {
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    font-family: "Press Start 2P", sans-serif;
}

.app-bar {
    display: flex;
    justify-content: space-between;
    background-color: #292929;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #61dafb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.game-body {
    display: flex;
    gap: 20px;
}

.story-section {
    flex: 3;
    background-color: #1a1a1a;
    border: 2px solid #ff9900;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.options {
    margin-top: 20px;
}

.options button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options button:hover {
    background-color: #21a1f1;
}

.character-details {
    flex: 2;
    background-color: #292929;
    border: 2px solid #61dafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    color: #e6e6e6;
}
